.slide {
	font-size: 1.7em;
	left: 50%;
	margin: 0 auto;
	max-width: 50em;
	min-width: 10em;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;


	h1, h2, h3, h4, h5, h6 {
		margin: 0 auto .5em;
	}

	h3 + ul {
		list-style: none;
	}

	li {
		margin-bottom: 1em;
	}

	#hover-example {
		transition: font-size .5s ease,
			        color .5s ease;

		&:hover {
			font-size: 1.5em;
			color: #f33;
		}

		&:last-of-type {
			position: absolute;
		}
	}

	#hover-example2 {
		position: relative;

		& > div {
			left: -20%;
			opacity: 0;
			position: absolute;
			top: -50%;
			transition: opacity .5s ease;
		}

		&:hover > div {
			opacity: 1;
		}
	}

	pre {
		min-width: 25em;
	}

	pre > code {
		padding: .5em 3em .5em 1.5em;
		line-height: 1.3em;
	}

	.red-text {
		color: red;
	}

	.bordered {
		border: 1px solid black;
	}

	.large {
		font-size: 2em;
	}

	.selected {
		border: 4px solid green;
	}
}

.slide-titles {
	margin-bottom: 1.5em;
}

.slide-content {
	display: inline-block;
	margin: 0 auto;
	text-align: left;
	max-width: 100%;
}

.animation-notifier {
	border: 1px solid #999;
	display: none;
	left: 50%;
	letter-spacing: .1em;
	margin: 0 auto;
	opacity: .5;
	position: absolute;
	transform: translateX(-50%);
	width: 8em;
}

@media screen and (max-width: 45em) {
	.slide {
		position: static;
		transform: none;

		pre {
			min-width: 8em;
		}
	}
}
