.slide {
	font-size: 1.7em;
	left: 50%;
	margin: 0 auto;
	max-width: 50em;
	min-width: 10em;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;


	h1, h2, h3, h4, h5, h6 {
		margin: 0 auto .5em;
	}

	h3 + ul {
		list-style: none;
	}

	li {
		margin-bottom: 1em;
	}

	pre > code {
		min-width: 20em;
		padding: .5em 3em .5em 1.5em;
		line-height: 1.3em;
	}
}

.slide-titles {
	margin-bottom: 1.5em;
}

.slide-content {
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

@media screen and (max-width: 40em) {
	.slide {
		position: static;
		transform: none;

		pre > code {
			min-width: 8em;
		}
	}
}
