.slide {
	font-size: 1.7em;
	left: 50%;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);


	h1, h2, h3, h4, h5, h6 {
		margin: 0 auto .5em;
	}
}

.slide-titles {
	margin-bottom: 1.5em;
}

.slide-content {
	text-align: left;
}

ul {
	list-style: circle;
	margin: 0 0 1.5em;
}

h3 + ul {
	list-style: none;
}

li {
	margin-bottom: 1em;
}