*, *::before, *::after {
	box-sizing: border-box;
}

#container {
	margin: 0 auto;
	max-width: 50em;
}

.svg-container {
	height: 0;
	width: 100%;
	padding-bottom: 400%;
	position: relative;
}

svg {
	left: 0;
	position: absolute;
	width: 100%;
}

.fade-in {
	border: 1px solid black;
	padding: 0 1em;
	position: absolute;
}

.fade-in:first-of-type {
	left: 70%;
	top: 20%;
}

.fade-in:nth-of-type(2) {
	left: 50%;
	top: 46%;
	transform: translateX(-50%);
}
