.assignment {
	margin: 0 auto;
	max-width: 65em;

	div {
		display: inline-block;
		vertical-align: top;
	}

	& > div:first-of-type {
		margin: 0 auto;
	}

	img {
		border: 1px solid #ccc;
		max-width: 40em;
		width: 100%;
	}
}